{% extends "account/base.html" %}

{% load fullurl %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
{% comment %} <h1>{% trans "Sign Up" %}</h1> {% endcomment %}

{% comment %} <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p> {% endcomment %}

<form class="signup" id="signup_form">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <input type="submit" value="Submit" />
  {% comment %} <button type="submit">{% trans "Sign Up" %} &raquo;</button> {% endcomment %}
</form>

{% endblock %}
